<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--在spring环境下面整合dubbo-->
    <!--在spring的环境下面配置服务信息-->
    <dubbo:application name="dubbo-service-provider"></dubbo:application>
    <!--配置注册中心-->
    <dubbo:registry address="zookeeper://127.0.0.1:2181"></dubbo:registry>
    <!--对服务接口实现类的批量扫描-->
    <dubbo:annotation package="com.xq.service.impl"></dubbo:annotation>
</beans>